<!DOCTYPE html>
<html>
<title>The next skynet</title>
<body>

<form action = "/predict" method="POST">
	<p> Complex age:<input name="complexAge" type ="text"/> </p>
	<p> Total rooms: <input name="totalRooms" type ="text"/> </p>
    <p> Total bedrooms: <input name="totalBedrooms" type ="text"/> </p>
	<p> Complex inhabitants:<input name="complexInhabitants" type ="text"/> </p>
	<p> Nr of apartments: <input name="apartmentsNr" type ="text"/> </p>
	<p> <input type ="submit" value="PREDICT" /> </p>
</form>
</body>
</html>